.minimize {
    background-image: url('min.png');
}
.minimize:hover {
    background-image: url("minhover.png");
}
.minimize:active {
    background-image: url("minactive.png");
}

.restore {
    background-image: url('max.png');
}
.restore:hover {
    background-image: url("maxhover.png");
}
.restore:active {
    background-image: url("maxactive.png");
}

.close {
    background-image: url('close.png');
}
.close:hover {
    background-image: url("closehover.png");
}
.close:active {
    background-image: url("closeactive.png");
}
